<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header class="login-header">
        <div class="wrapper login-header__wrapper">
            <p class="brand">ログイン画面</p>
        </div>
    </header>
    <div class="login-form">
        <div class="wrapper login-form__wrapper">
            <form action="/users/login" method="POST">
                <label>メールアドレス</label>
                <br/>
                <input class="login-input" type="text" name="email" autofocus required>
                <br/>
                <br/>
                <label>パスワード</label>
                <br/>
                <input class="login-input" type="password" name="password" required>
                <br/>
                <br/>
                <p class="login-link">
                    <a href="/register">ユーザー登録がお済みでない方はこちら</a>
                </p>
                <br/>
                <hr/>
                <div class="wrapper login-bottun__wrapper">
                    <button type="submit" class="login-button">ログイン</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
