<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <form action="/users/login" method="POST">
        <label>メールアドレス</label>
        <input type="text" name="email" autofocus required>
        <label>パスワード</label>
        <input type="password" name="password" required>
        <button type="submit">ログイン</button>
    </form>
</body>
</html>
