<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Register Page</h1>

<form method="post" action="/users/create">
    <input type="text" name="name" placeholder="name">
    <br/>
    <br/>
    <input type="text" name="email" placeholder="email">
    <br/>
    <br/>
    <input type="text" name="password" placeholder="password">
    <br/>
    <br/>
    <input type="file" name="image" placeholder="image">
    <br/>
    <br/>
    <input type="submit" >
</form>
<br/>

</body>
</html>